services:
  db-postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  db-mongo:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
  migrator:
    build: .
    depends_on:
      db-postgres:
        condition: service_healthy
      db-mongo:
        condition: service_healthy
    environment:
      POSTGRES_DSN: "postgres://user:password@db-postgres:5432/mydb?sslmode=disable"
      MONGO_URI: "mongodb://db-mongo:27017/mydb"
    command: ["-db=all", "-type=schema", "-action=up", "-verbose=true"]

volumes:
  postgres_data:
  mongo_data:
